@font-face {
    font-family: 'AmericanTypewriterRegular';
    src:  url('AmericanTypewriterRegular.ttf');
}

body {
    margin: 0;
}

header {
    height: 10vh;
}

main {
    height: 70vh;
    overflow: auto;
}

footer {
    height: 20vh;
}

h1 {
    font-family: 'AmericanTypewriterRegular';
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.form {
    max-height: 20vh;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    border: 1px solid;
    box-shadow: 0.5rem 0.5rem;
    background: white;
}

.form > label {
    font-family: 'AmericanTypewriterRegular';
}

.form > input {
    width: 75%;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    margin-top: 10px;
}

.form > button {
    font-family: 'AmericanTypewriterRegular';
    height: 30px;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    border: 1px solid black;
}

.footerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'AmericanTypewriterRegular';
}

.textContainer {
    margin-left: 4rem;
    margin-right: 4rem;
    max-height: 45vh;
    font-family: 'AmericanTypewriterRegular';
    border: 1px solid;
    min-height: 5rem;
    border-radius: 4px;
    overflow: auto;
}

#fillerText {
    overflow: scroll;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.quoteContainer > p {
    margin: 0;
}

.fa {
    font-size: larger !important;
}

.ln {
    margin-right: 2rem;
}